<v-toolbar dense :class="$style.container" v-if="activeProxyData">
  <v-combobox
    :class="$style.comboboxFirst"
    dense
    single-line
    prepend-icon="widgets"
    hide-details
    ref="representation"
    @input="blur('representation')"
    v-model="representation"
    :items="representationItems"
    label="Representation"
  />
  <v-combobox
    :class="$style.combobox"
    dense
    flat
    single-line
    prepend-icon="palette"
    hide-details

    label="Color By"

    ref="colorBy"

    :value="colorValue"
    :items="colorByItems"
    @input="applyColor"
  />
  <v-spacer />
  <v-slider
    :class="$style.opacity"
    hide-details

    v-model="opacity"
    :min="0"
    :max="1"
    step="0.01"
  />
</v-toolbar>
