<div :class="$style.container">
  <v-container fluid fill-height align-center :class="$style.topBar">
    <v-layout row justify-start align-center>
      <v-flex xs1 justify-center>
        <v-icon :color="color">{{ module.icon }}</v-icon>
      </v-flex>
      <v-flex justify-start>
        <label :class="$style.title" :color="color">{{ module.label }}</label>
      </v-flex>
      <v-spacer />
      <v-btn
        flat
        icon
        @click="deleteProxy"
        :color="color"
      >
        <v-icon>delete_forever</v-icon>
      </v-btn>
    </v-layout>
  </v-container>

  <v-card flat :class="$style.block">
    <v-card-title :class="$style.blockTitle">
      <span class="body-2">Phi</span>
    </v-card-title>
    <v-card-text :class="$style.blockContent">
      <v-container fluid grid-list-md :class="$style.noPaddingMargin">
        <v-layout row wrap align-center>
          <v-flex xs3>
            <label :class="$style.smallLabel">Range</label>
          </v-flex>
          <v-flex xs9>
            <v-range-slider
              :class="$style.noTopPadding"
              hide-details

              v-model="phi"
              :max="180"
              :min="0"
              :step="1"
            />
          </v-flex>
          <v-flex xs3>
            <label :class="$style.smallLabel">Resolution</label>
          </v-flex>
          <v-flex xs9>
            <v-slider
              :class="$style.noTopPadding"
              hide-details

              v-model="phiResolution"
              :max="60"
              :min="3"
              :step="1"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>

  <v-card flat :class="$style.block">
    <v-card-title :class="$style.blockTitle">
      <span class="body-2">Theta</span>
    </v-card-title>
    <v-card-text :class="$style.blockContent">
      <v-container fluid grid-list-md :class="$style.noPaddingMargin">
        <v-layout row wrap align-center>
          <v-flex xs3>
            <label :class="$style.smallLabel">Range</label>
          </v-flex>
          <v-flex xs9>
            <v-range-slider
              :class="$style.noTopPadding"
              hide-details

              v-model="theta"
              :max="360"
              :min="0"
              :step="1"
            />
          </v-flex>
          <v-flex xs3>
            <label :class="$style.smallLabel">Resolution</label>
          </v-flex>
          <v-flex xs9>
            <v-slider
              :class="$style.noTopPadding"
              hide-details

              v-model="thetaResolution"
              :max="60"
              :min="3"
              :step="1"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>

  <v-card flat :class="$style.block">
    <v-btn
      block
      outline
      color="indigo"
      v-if="create"
      @click="createProxy"
    >Create</v-btn>
  </v-card>
</div>
