{
  "profiles": {
    "default": {
      "modules_included": [],
      "modules_excluded": [],
      "viewType": 1
    },
    "onlyVolume": {
      "modules_included": ["volume"],
      "modules_excluded": [],
      "viewType": 1
    },
    "noStreamlines": {
      "modules_included": [],
      "modules_excluded": ["streamline"],
      "viewType": 1
    },
    "mixed": {
      "modules_included": ["clip", "oslice", "mslice", "contour"],
      "modules_excluded": ["volume", "streamline"],
      "viewType": 1
    }
  }
}
